<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html ng-app="Accedo" xmlns="http://www.w3.org/1999/xhtml">
   <head>
      <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
      <title>Accedo</title>
      <link rel="stylesheet" type="text/css" href="css/main.css" />
   </head>
   <body data-gr-c-s-loaded="true">
    <div class="container">
       <header class="header">
          <h1 id="title">Podcast Title</h1>
          <p id="description">Podcast Description</p>
       </header>
       <section class="main">
          <aside id="clip-list"></aside>
          <section id="video-section">
             <div id="clip-div">
                <video id="clip" controls="" autoplay="">
                   <source id="clip-source" src="" type="video/mp4">
                </video>
             </div>
             <div id="clip-description">
                <p id="clip-desc"></p>
             </div>
          </section>
       </section>
    </div>
      <script type="text/javascript" src="js/jquery.js"></script>
      <script type="text/javascript" src="js/accedo.js"></script>     
   </body>
</html>